.container {
  display: flex;
  flex-direction: column;
}
.Header {
  background-color: rgb(82, 144, 168);
  color: rgb(242, 240, 240);
  display: flex;
  font-family: cursive;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
}
.searchbox {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 40%;
  background-color: white;
}
.appname {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.movieimage {
  width: 48px;
  height: 48px;
  margin: 15px;
}
.searchicon {
  width: 22px;
  height: 22px;
}
.searchinput {
  color: rgb(29, 28, 28);
  font-size: 20px;
  font-weight: 2px;
  border: none;
  outline: none;
  margin-left: 5px;
}
.movielistcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 24px;
  justify-content: space-evenly;;
}